[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pyprose = {editable = true,path = "."}
pycparser = "*"
pythonnet = "*"

[requires]
python_version = "==3.7"